header {
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  font-family: 'Karla', sans-serif;

  .hover-link {
    font-weight: 600;
  }
}



.containers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navimg {
  margin: 0 auto;

  div {
    padding: 1.5rem 0;
  }

  ul {
    li {
      a {
        color: #333333;
        transition: all 0.3s;

        &:hover {
          color: #ffba00;
        }
      }
    }

    .hover-list-heading {
      color: #252525;
      font-weight: 600;
    }
  }
}


.baricon {
  a {
    i {
      color: #222222;

      &:hover {
        color: #ffba00;
      }
    }
  }
}

.magnifyingicon {
  a {
    i {
      &:before {
        border-left: 1px solid lightgrey;
        padding: 29px;
      }

      color: #222222;

      &:hover {
        color: #ffba00;
      }
    }
  }
}

.baricon {
  a {
    i {
      color: #222222;

      &:hover {
        color: #ffba00;
      }
    }
  }
}

.magnifyingicon {
  a {
    i {
      &:before {
        border-left: 1px solid lightgrey;
        padding: 22px;
      }

      color: #222222;

      &:hover {
        color: #ffba00;
      }
    }
  }
}

.infohead {
  text-align: center;
  background-color: #72d8cd;
  padding: 1rem;

  i {
    color: #397265;
  }

  span {
    color: #397265;
    font-size: 14px;

    strong {
      font-size: 14px;
    }
  }
}

.usericon {
  a {
    color: #333;
    transition: all 0.5s;
    border-left: 1px solid lightgrey;
    padding: 22px;

    i {
      transition: all 0.5s;
    }

    &:hover {
      i {
        color: #eabe12;
      }

      div {
        visibility: visible;
        opacity: 1;
      }
    }

    div {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 1000;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s;

      span {
        padding: 15px 20px;
        min-width: max-content;
        border-bottom: 1px solid #222;
        color: #252525;
        transition: all 0.5s;

        &:hover {
          color: #eabe12;
        }

        &:last-child {
          border: 0;
        }
      }
    }
  }
}

.shopicon {
  a {
    color: #333;
    transition: all 0.5s;

    i {
      transition: all 0.5s;
    }

    &:hover {
      i {
        color: #eabe12;
      }

      span {
        opacity: 1;
        visibility: visible;
      }
    }

    .cart-count {
      position: absolute;
      top: -80%;
      right: -25%;
      font-weight: 600;
    }

    span {
      position: absolute;
      right: 0;
      top: 100%;
      transform: translateY(30%);
      min-width: max-content;
      padding: 25px 30px;
      background-color: #fff;
      font-size: 14px;
      z-index: 1000;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s;
    }
  }
}

.homehover {
  position: relative;
  padding: 1.5rem 0 1.5rem 0;

  .homehoverin {
    width: 30vw;
    min-height: max-content;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    z-index: 10;
    padding: 2rem;
    top: 100%;
    transform: translateX(-20%);
    transition: all 0.4s;
  }

  &:hover {
    .hover-link {
      color: #ffba00;
    }

    .homehoverin {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.shopStylesHover {
  position: relative;
  padding: 1.5rem 0 1.5rem 0;

  .shopStylesHoverin {
    width: 98vw;
    min-height: max-content;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    z-index: 10;
    padding: 2rem;
    top: 100%;
    transform: translateX(-53.5%);
    transition: all 0.4s;
  }

  &:hover {
    .hover-link {
      color: #ffba00;
    }

    .shopStylesHoverin {
      visibility: visible;
      opacity: 1;
      transform: translateX(-33.5%);
    }
  }
}

.featuresHover {
  position: relative;
  padding: 1.5rem 0 1.5rem 0;

  .featuresHoverin {
    width: 98vw;
    min-height: max-content;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    z-index: 10;
    padding: 2rem;
    top: 100%;
    transform: translateX(-61.5%);
    transition: all 0.4s;
  }

  &:hover {
    .hover-link {
      color: #ffba00;
    }

    .featuresHoverin {
      visibility: visible;
      opacity: 1;
      transform: translateX(-41.2%);
    }
  }
}

.pagesHover {
  position: relative;
  padding: 1.5rem 0 1.5rem 0;

  .pagesHoverin {
    width: 98vw;
    min-height: max-content;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #fff;
    z-index: 10;
    padding: 2rem;
    top: 100%;
    transform: translateX(-76.5%);
    transition: all 0.4s;
  }

  &:hover {
    .hover-link {
      color: #ffba00;
    }

    .pagesHoverin {
      visibility: visible;
      opacity: 1;
      transform: translateX(-56.5%);
    }
  }
}

.elementsHover {
  position: relative;
  padding: 1.5rem 0 1.5rem 0;

  .elementsHoverin {
    width: 98vw;
    min-height: max-content;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    z-index: 10;
    padding: 2rem;
    top: 100%;
    transform: translateX(-81%);
    transition: all 0.4s;
  }

  &:hover {
    .hover-link {
      color: #ffba00;
    }

    .elementsHoverin {
      visibility: visible;
      opacity: 1;
      transform: translateX(-61%);
    }
  }
}

.demosHover {
  position: relative;
  padding: 1.5rem 0 1.5rem 0;

  .demosHoverin {
    width: 98vw;
    min-height: max-content;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    z-index: 10;
    padding: 2rem;
    top: 100%;
    transform: translateX(-87%);
    transition: all 0.4s;

    img {
      width: 10rem;
      height: 8rem;
    }
  }

  &:hover {
    .hover-link {
      color: #ffba00;
    }

    .demosHoverin {
      visibility: visible;
      opacity: 1;
      transform: translateX(-67%);
    }
  }
}

.btnhov {
  a {
    min-width: max-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff !important;
    font-size: 12px;
    font-weight: 600;
    padding: 15px 35px;
    background-color: #000;
    transition: all 0.5s;
    text-align: center;

    span {
      transform: translateX(12px);
      transition: all 0.4s;
    }

    i {
      font-size: 18px;
      transform: scale(0.5);
      opacity: 0;
      transition: all 0.4s;
    }

    &:hover {
      span {
        transform: translateX(0);
      }

      i {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}