@import "../../layout/Header/header";
@import "../../layout/Footer/footer";
@import "../../assets/scss/reset";
@import"../../pages/home/home";
@import "../../pages/lookbook/lookbook";
@import "../../pages/product/product";
@import"../../assets/scss/variable";
@import"../../components/mobile-menu/mobileMenu";
@import "../../assets/scss/buttons";
// admin panel
@import"../../admin/AdminPanelLayout/Header/headeradmin";
@import "../../admin//AdminPanelLayout//Aside/aside";
@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis/Dosis-VariableFont_wght.ttf') format('truetype'),
    url('../fonts/Karla/Karla-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}