@import "../../layout/Header/header";
@import "../../layout/Footer/footer";
@import "../../assets/scss/reset";
@import"../../pages/home/home";
@import"../../assets/scss/variable";
@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis/Dosis-VariableFont_wght.ttf') format('truetype'),
    url('../fonts/Karla/Karla-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}