// .twoproduct {
//     @media (min-width: 1200px) {
//         padding: 1rem 10rem 1rem 10rem;
//     }

//     .cartshop {
//         cursor: pointer;
//         position: relative;

//         .productimg {
//             width: 100%;
//             height: 100%;
//             position: relative;

//             img {
//                 width: 100%;
//                 height: 100%;
//             }

//             .second-img {
//                 top: 0;
//                 position: absolute;
//                 // visibility: hidden;
//                 opacity: 0;
//                 transition: all 0.5s linear;
//             }

//             .one-img {
//                 opacity: 1;
//                 transition: all 0.5s linear;
//             }
//             .icons-hover {
//                 background-color: white;
//                 bottom: 4%;
//                 left: 5%;
//                 visibility: hidden;
//                 opacity: 0;
//                 transition: all 0.5s ease-in-out;

//                 .iconn {
//                     border-right: 1px solid #f2f2f2;
//                     padding: 27%;
//                     background-color: white;

//                     i {
//                         font-size: 20px;
//                         color: #111;
//                         transition: 0.3s ease;

//                         &:hover {
//                             color: #EABE12;

//                         }
//                     }
//                 }
//             }

//             &:hover {
//                 .one-img {
//                     // visibility: hidden;
//                     opacity: 0;
//                 }

//                 .icons-hover {
//                     visibility: visible;
//                     opacity: 1;

//                 }

//                 .second-img {
//                     // visibility: visible;
//                     opacity: 1;
//                 }
//             }
//         }

//         ul {
//             li {
//                 span {
//                     color: #444444;
//                     font-weight: bold;

//                     i {
//                         color: #eabe12;
//                     }
//                 }

//                 a {
//                     color: #222222;
//                     font-family: Doris;

//                     span {
//                         font-family: Doris;
//                         transition: all 1s;
//                     }

//                     :hover {
//                         color: #eabe12;
//                         transition: all 300ms;
//                     }

//                     h5 {
//                         color: #222222;
//                         font-family: Doris;
//                     }
//                 }
//             }
//         }

//         .hovericon {
//             display: flex;
//             justify-content: space-evenly;
//             align-items: center;
//             position: absolute;
//             height: 15.5%;
//             width: 65%;
//             background-color: #fff;
//             bottom: 10%;
//             right: 1px;
//             left: 10%;
//             opacity: 0;

//             a {
//                 color: #333333;

//                 :hover {
//                     color: #eabe12;
//                     transition: all 300ms;
//                 }
//             }

//             .hovericonfirst {
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 gap: 1rem;

//                 a {
//                     color: #333333;

//                     ::before {
//                         border-right: 1px solid lightgrey;
//                         padding: 15px;

//                         :hover {
//                             color: #eabe12;
//                             transition: all 300ms;
//                         }
//                     }
//                 }
//             }
//         }
//     }

//     .textheader {
//         h5 {
//             span {
//                 font-family: Doris;
//                 border-bottom: 2px solid black;
//             }
//         }
//     }

//     .cartshoptwoimg {
//         cursor: pointer;
//         position: relative;

//         &:hover {
//             .hovericon {
//                 opacity: 1;
//             }
//         }

//         .productimg {
//             width: 100%;
//             height: 100%;
//             position: relative;

//             img {
//                 width: 100%;
//                 height: 100%;
//             }

//             .oneimg {
//                 position: absolute;
//                 opacity: 1;

//                 &:hover {
//                     opacity: 0;
//                 }
//             }

//             .twoimg {

//                 // opacity: 0;
//                 &:hover {
//                     opacity: 1;
//                 }

//                 position: absolute;
//             }
//         }

//         ul {
//             li {
//                 span {
//                     color: #444444;
//                     font-weight: bold;

//                     i {
//                         color: #eabe12;
//                     }
//                 }

//                 a {
//                     color: #222222;
//                     font-family: Doris;

//                     span {
//                         font-family: Doris;
//                         transition: all 1s;
//                     }

//                     :hover {
//                         color: #eabe12;
//                         transition: all 300ms;
//                     }

//                     h5 {
//                         color: #222222;
//                         font-family: Doris;
//                     }
//                 }
//             }
//         }

//         .hovericon {
//             display: flex;
//             justify-content: space-evenly;
//             align-items: center;
//             position: absolute;
//             height: 15%;
//             width: 65%;
//             background-color: #fff;
//             right: 1px;
//             left: 10%;
//             bottom: 10%;
//             opacity: 1;

//             a {
//                 color: #333333;

//                 :hover {
//                     color: #eabe12;
//                     transition: all 300ms;
//                 }
//             }

//             .hovericonfirst {
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 gap: 1rem;

//                 a {
//                     color: #333333;

//                     ::before {
//                         border-right: 1px solid lightgrey;
//                         padding: 15px;

//                         :hover {
//                             color: #eabe12;
//                             transition: all 300ms;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
.cards-with-hover{
    padding-bottom: 5.5%;
    .cards-hover{
        padding-top: 3.2%;
        .card-hover {
            .img-box {
                &:hover {
        
                    .icons-hover {
                        visibility: visible;
                        opacity: 1;
        
                    }
        
                    .second-photo {
                        visibility: visible;
                        opacity: 1;
        
                    }
                }
        
                .first-photo {
                    transition: all 0.5s linear;
                }
        
                .second-photo {
                    top: 0;
                    left: 0;
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.5s linear;
                }
        
                .icons-hover {
                    background-color: white;
                    bottom: 4%;
                    left: 5%;
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.5s ease-in-out;
        
                    .iconn {
                        border-right: 1px solid #f2f2f2;
                        padding: 27%;
                        background-color: white;
        
                        i {
                            font-size: 20px;
                            color: #111;
                            transition: 0.3s ease;
        
                            &:hover {
                                color: #EABE12;
        
                            }
                        }
                    }
                }
            }
        
            .img-info-box {
                .main-name {
                    a {
                        color: #111;
                        font-size: 19px;
                        font-family: 'Dosis', sans-serif;
                        transition: 0.3s ease;
        
                        &:hover {
                            color: #EABE12;
                        }
                    }
                }
        
                .category-name {
                    a {
                        color: #222;
                        font-size: 14px;
                        font-family: 'Karla', sans-serif;
                        transition: 0.3s ease;
        
                        &:hover {
                            color: #EABE12;
                        }
                    }
                }
        
                span {
                    color: #222;
                    font-size: 16px;
                    font-family: 'Karla', sans-serif;
                }
        
                .rating-part {
                    i {
                        font-size: 12px;
                        color: #EABE12;
        
                        @media(width<=375px) {
                            font-size: 9px;
                        }
                    }
                }
            }
        }
    }
}
