.twoproduct {
    @media (min-width: 1200px) {
        padding: 1rem 10rem 1rem 10rem;
    }

    .textheader {
        h5 {
            span {
                font-family: Doris;
                border-bottom: 2px solid black;
            }
        }
    }
}
.cards-with-hover{
    padding-bottom: 5.5%;
    .cards-hover{
        padding-top: 3%;
        .card-hover {
            .img-box {
                &:hover {
        
                    .icons-hover {
                        visibility: visible;
                        opacity: 1;
        
                    }
        
                    .second-photo {
                        visibility: visible;
                        opacity: 1;
        
                    }
                }
        
                .first-photo {
                    transition: all 0.5s linear;
                }
        
                .second-photo {
                    top: 0;
                    left: 0;
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.5s linear;
                }
        
                .icons-hover {
                    background-color: white;
                    bottom: 4%;
                    left: 5%;
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.5s ease-in-out;
        
                    .iconn {
                        border-right: 1px solid #f2f2f2;
                        padding: 27%;
                        background-color: white;
        
                        i {
                            font-size: 20px;
                            color: #111;
                            transition: 0.3s ease;
        
                            &:hover {
                                color: #EABE12;
        
                            }
                        }
                    }
                }
            }
        
            .img-info-box {
                .main-name {
                    a {
                        color: #111;
                        font-size: 19px;
                        font-family: 'Dosis', sans-serif;
                        transition: 0.3s ease;
        
                        &:hover {
                            color: #EABE12;
                        }
                    }
                }
        
                .category-name {
                    a {
                        color: #222;
                        font-size: 14px;
                        font-family: 'Karla', sans-serif;
                        transition: 0.3s ease;
        
                        &:hover {
                            color: #EABE12;
                        }
                    }
                }
        
                span {
                    color: #222;
                    font-size: 16px;
                    font-family: 'Karla', sans-serif;
                }
        
                .rating-part {
                    i {
                        font-size: 14px;
                        color: #EABE12;
        
                        @media(width<=375px) {
                            font-size: 9px;
                        }
                    }
                }
            }
        }
    }
}
