.card {
    --cui-card-spacer-y: 1rem;
    --cui-card-spacer-x: 1rem;
    --cui-card-title-spacer-y: 0.5rem;
    --cui-card-border-width: 1px;
    --cui-card-border-color: var(--cui-border-color-translucent);
    --cui-card-border-radius: 0.375rem;
    --cui-card-box-shadow: ;
    --cui-card-inner-border-radius: calc(0.375rem - 1px);
    --cui-card-cap-padding-y: 0.5rem;
    --cui-card-cap-padding-x: 1rem;
    --cui-card-cap-bg: rgba(0, 0, 21, 0.03);
    --cui-card-cap-color: unset;
    --cui-card-height: ;
    --cui-card-color: unset;
    --cui-card-bg: #fff;
    --cui-card-img-overlay-padding: 1rem;
    --cui-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--cui-card-height);
    word-wrap: break-word;
    background-color: var(--cui-card-bg);
    background-clip: border-box;
    border: var(--cui-card-border-width) solid var(--cui-card-border-color);
    border-radius: var(--cui-card-border-radius);
    .button-login{
      background-color:#fff ;
      color: #252525;
      font-weight: 700;
      border: 1px solid #252525;
      &:hover{
        border: 1px solid #EABE12;
        color:#EABE12 ;
      }
    }
    .link-color{
      color:  #252525;
      &:hover{
        color:#EABE12 ;
      }
    }
   
  }
  .card-color{
    background-color: #252525;
  } 
  .card > hr {
    margin-right: 0;
    margin-left: 0;
  }
  .card > .list-group {
    border-top: inherit;
    border-bottom: inherit;
  }
  .card > .list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: var(--cui-card-inner-border-radius);
    border-top-right-radius: var(--cui-card-inner-border-radius);
  }
  .card > .list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: var(--cui-card-inner-border-radius);
    border-bottom-left-radius: var(--cui-card-inner-border-radius);
  }
  .card > .card-header + .list-group,
  .card > .list-group + .card-footer {
    border-top: 0;
  }
  
  .card-body {
    flex: 1 1 auto;
    padding: var(--cui-card-spacer-y) var(--cui-card-spacer-x);
    color: var(--cui-card-color);
  }
  